@import '../assets/styles/global.scss';

.login-container {
 width: 100vw;
 height: 100vh;
 background-color: $background-color;
 display: flex;
 flex-direction: column;
 padding: 20px;
 box-sizing: border-box;
 justify-content: center;
 align-items: center;
 align-content: center;

 &__logo {
  width: 80%;
  height: fit-content;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  img {
   width: 100%;
  }
 }

 &__welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $charcoal-grey;
  font-family: 'Roboto';

  h3 {
   font-weight: bold;
   text-transform: uppercase;
  }

  p {
   width: 80%;
   font-size: 12px;
   margin-top: 0px;
   font-weight: normal;
  }
 }

 &__form-area {
  width: 80%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
 }

 .input-container {
  height: 40px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid $charcoal-grey;
  align-items: center;

  &.--error {
   border-bottom-color: $red;

   &:nth-child(2) {
    input {
     width: 80%;
    }
   }
  }

  &:not(:last-of-type) {
   margin-bottom: 20px;
  }

  .icon {
   height: 70%;
   img {
    height: 100%;
   }
  }

  input {
   flex: 1;
   background-color: transparent;
   border: none;
   padding: 5px;
   box-sizing: border-box;
   
   &:hover, &:active, &:focus {
    border: none;
    outline: none;
   }
  }

  .input-btn {
   height: 70%;
   width: 28px;
  }

  .icon-error {
   width: 23px;
   height: 24px;
   border-radius: 50%;
   margin-left: 5px;
   background-color: $red;
   color: $white;
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: center;
  }
 }

 .error-advice {
  color: $red;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 0.7rem;
  text-align: center;
 }

 .submit-btn {
  margin-top: 10px;
  width: 100%;
  padding: 0px 10px;

  button {
   padding: 10px;
   color: $white;
   font-family: 'Roboto';
   font-weight: bold;
   border-radius: 3.6px;
   background-color: $greeny-blue;
  }
 }

 @media screen and(min-width: 800px){
   &__logo {
    max-width: 300px;
   }

   &__welcome {
    max-width: 300px;
   }

   &__form-area {
    max-width: 300px;
   }
 }
}