@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import '../assets/styles/global.scss';

.enterprise-details {
 width: 100%;
 height: 100vh;
 display: flex;
 flex-direction: column;

 &__list-body {
  flex: 1;
   padding: 5px 10px;
   display: flex;
   flex-direction: column;
   overflow: auto;
   background-color: $background-color;

   .enterprise-view {
    background-color: white;
    padding: 10px;

    &__img {
     width: 100%;
     height: auto;
     img {
      width: 100%;
     }
    }

    &__description {
     font-family: 'Source Sans Pro';
     color: $text-color-light;
     font-size: .9rem;
    }
   }
 }

 @media screen and(min-width: 800px){
  &__list-body {

   .enterprise-view {
    display: flex;
    flex-direction: row;
    padding: 0px;

    &__img {
     width: 40%;

     img {
      width: 100%;
      height: 100%;
     }
    }

    &__description {
     width: 60%;
     font-size: 1.2rem;
     margin-left: 20px;
     box-sizing: border-box;
    }
   }
  }
 }
}