@import '../assets/styles/global.scss';

.enterprise {
 margin: 5px 0px;
 display: flex;
 flex-direction: row;
 background-color: $white;
 width: 100%;
 max-height: 140px;
 padding: 5px;
 box-sizing: border-box;
 position: relative;
 justify-content: center;
 align-content: center;
 transform: translate3d(0, 0, 0);

 &__img {
  width: 50%;
  height: auto;
  margin-right: 5px;

  img {
   width: 100%;
   height: 100%;
  }
 }

 &__data {
  display: flex;
  width: 50%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-height: 100%;
  overflow: hidden;
  font-family: 'Roboto';
  color: $text-color-light;
  
  .data-name {
   width: 100%;
   margin: 0px 0px 5px 0px;
   font-size: 0.8rem;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   color: $text-color-bold;
  }

  .data-type {
   margin: 0px 0px 5px 0px;
   font-size: .8rem;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
  }

  .data-address {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   width: 100%;
   font-size: .6rem;
  }
 }

 &::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10,10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
 }

 &:active::after {
  transform: scale(0,0);
  opacity: .2;
  transition: 0s;
 }

 @media screen and(min-width: 800px) {
  padding: 0px;
  will-change: box-shadow;
  width: 32%;
  flex-direction: column;
  margin: .5%;
  height: fit-content;
  max-height: none;
  box-shadow: none;
  transition: box-shadow .2s ease-in-out;
  border-radius: 4px;

  &:hover {
   box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  }

  &__img {
   width: 100%;
   height: auto;
   margin-right: 0px;
   border-radius: 4px 4px 0px 0px;
   overflow: hidden;
  }

  &__data {
   width: 100%;
   margin: 10px 0px;
   padding: 0 10px 0 10px; 

   .data-name {
    margin: 5px 0px 10px;
    font-size: 1.5rem;
   }

   .data-type, .data-address {
    font-size: 1rem;
   }
  }

 }
}