@import '../assets/styles/global.scss';

.enterprise-list {
 width: 100%;
 height: 100vh;
 display: flex;
 flex-direction: column;
 &__list-body {
   flex: 1;
   padding: 5px 10px;
   display: flex;
   flex-direction: column;
   overflow: auto;
   background-color: $background-color;

   &.--empty-list {
    align-items: center;
    align-content: center;
    justify-content: center;
   }

   h6 {
    font-size: .6rem;
    text-align: center;
    color: $text-color-light;
   }
 }

 @media screen and(min-width: 800px){
    &__list-body {
      flex-direction: row;
      flex-wrap: wrap;

      h6 {
        font-size: 1rem;
      }
    }
 }
}