@import '../assets/styles/global.scss';

.loading-container {
 z-index: 1;
 position: absolute;
 width: 100vw;
 height: 100vh;
 background-color: $white-shadow;
 display: flex;
 align-content: center;
 justify-content: center;
 align-items: center;

 .spinner {
  width: 90px;
  height: 90px;
  box-sizing: border-box;
  border-width: 8px;
  border-left-color: $greeny-blue;
  border-right-color: $greeny-blue;
  border-top-color: $greeny-blue;
  border-style: solid;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotate 2.5s ease-in infinite;
 }

 @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
 }
}