@import '../assets/styles/global.scss';

.navbar {
 box-sizing: border-box;
 width: 100%;
 height: 64px;
 padding: 8px 10px;
 background-color: $medium-pink;

 &__default-view {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  &.--canBack {
    justify-content: flex-start;
  }

  .back-title {
    height: 100%;
    max-width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    color: $white;

    .back-btn {
      height: 100%;
      width: fit-content;
    }

    >span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  img {
   height: 50%;
  }

  .search-btn {
   position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    right: 10px;

    button {
     padding: 0px;

     img {
      width: 100%;
      height: 100%;
     }
    }
  }
 }

 &__searching-view {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;

  button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 5px;
    padding: 0px;

    img {
     width: 100%;
     height: 100%;
    }

    &:nth-of-type(2) {
     margin-right: 0px;
     margin-left: 5px;
    }
  }

  input {
   height: 80%;
   flex: 1;
   border: none;
   background-color: transparent;
   color: $white;
   outline: none;
  }
 }

 @media screen and(min-width: 800px){
  &__default-view {
    justify-content: flex-start;
  }
 }
}