$background-color: #ebe9d7;
$white: #fff;
$red: #ff0f44;
$white-shadow: rgba($white, .5);
$medium-pink: #ee4c77;
$night-blue: #0d0430;
$charcoal-grey: #383743;
$greeny-blue: #57bbbc;

$text-color: $charcoal-grey;
$text-color-bold: #1a0e49;
$text-color-light: #8d8c8c;
$text-color-grey: #b5b4b4;








